.d-block {
    display: block!important;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background: rgba(255, 255, 255, 0.885);
  padding: 2.2rem;
  border-radius: 10px;
  width: 400px;
}

.titleUp{
    color: black;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

.selectUp{
    margin-bottom: 7px;
    padding: 10px;
}

.blockReserv{
    text-indent: 0;
    box-shadow: 0 0 8px rgba(10, 102, 9, 0.442);

}

.reservationDetails{
    text-indent: 15px;

}